@charset "UTF-8";

body{
    background-color: rgb(68, 141, 250);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.377);
}

div p{
    display: inline;
}

div input[type=number]{
    width: 80px;
    margin-bottom: 5px;
}

div input[type=submit]{
    margin-bottom: 10px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}